<ion-card style="width: 100%">
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <div style="position: relative">
            <img class="bottle-image" src="assets/bottle.png">
          </div>

        </ion-col>
        <ion-col size="6">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="input.click()" color="primary" fill="solid">
                <ion-icon slot="start" name="camera"></ion-icon>
                Foto
              </ion-button>
              <ion-button fill="solid" color="secondary">
                <ion-icon slot="start" name="md-create"></ion-icon>
                Text
              </ion-button>
              <ion-button fill="block" color="tertiary">
                <ion-icon slot="start" name="images"></ion-icon>
                Collage
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button color="dark" fill="solid">
                Layout Vorlage verwenden
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <div class="image">
            <h2 class="text">Hochzeit Lilli und Mike</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-toolbar>
    <ion-select cancelText="Abbrechen" value="flasche" style="float:right;">
      <ion-select-option value="flasche">Flasche</ion-select-option>
      <ion-select-option>Karton</ion-select-option>
      <ion-select-option>Kiste</ion-select-option>
    </ion-select>
    <ion-input style="float:right; width: 32px" type="number" min="1" max="100" value="6">
    </ion-input>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid">
        In den Warenkorb
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-card>