
#menu {
    ion-label {
        font-size: 0.8em;
    }

    ion-item:hover {
        cursor: pointer;

        ion-label {
            color: var(--ion-color-primary);
        }
    }
}


.kategorie {
    span {
        font-size: 0.8em;
        color: var(--ion-color-primary);
    }
}

.kategorie:hover {
    cursor: pointer;

    span {
        font-size: 0.8em;
        color: var(--ion-color-secondary);
    }
}